* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{height: 100%;}

header{
    background-color: rgb(253, 9, 9);
    padding: 10px 2%;
    display: flex;
    justify-content:space-between;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2.4);
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 15px;
}

.info-header{
    color: whitesmoke;
    display: flex;
}

.icons-header {
    margin-left: 10px;
    transform: scale(0.85);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.info-header img{
    width: 40px;
    height: 40px;
    margin: 0 8px
}

.info-header svg{
    margin: 0 10px;
}

.icons-header{
    margin-left: 10px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar{
    padding: 0 8px;
    width: 20%;
    background-color: white;
    height: 100%;
}

.sidebar h3 {
    color: black;
    font-size: 20px;
    margin: 10px;
}

.sidebar a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a:hover{
    border-left: 2px solid #ff7373;
    background-color:  rgba(243, 237, 237, 0.759);
    color: #444;
    font-weight: bold;
}

.sidebar a:hover .sidebar a > svg{
    color: #444;
}
.sidebar a > svg{
    color: #444;
}

.content{
    width: 80%;
    background-color: rgba(243, 237, 237, 0.759);
    padding: 20px;
}

.titulo-secao{
    border-radius: 10px;
    background-color: #efeaea;
    padding: 10px;
} 

.box-info{
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.box-info-single{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 10px;
    padding: 30px;
}

